@model AppUser

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;


@inject UserManager<AppUser> UserManager

@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    AppUser currentUser = await UserManager.Users
                            .Include(u => u.FollwedBlogers)
                            .FirstOrDefaultAsync(u => u.Id == currentUserId);
    var isFollow = false;
    if (currentUser.FollwedBlogers.Any(b => b.Id == Model.Id))
    {
        isFollow = true;
    }
}



<div class="container-fluid">
    <div class="row justify-content-center">


        <div class="col-12 col-md-10 col-lg-7 ml-md-1">

            <h5>Username: @Model.UserName</h5>
            <h5>Number Of Posts: @Model.Posts?.Count()</h5>
            @if (isFollow)
            {
                <a class="btn btn-primary" asp-controller="account" asp-action="UnFollow" asp-route-username="@Model.UserName">unfollow</a>
            }
            else
            {
                <a class="btn btn-primary" asp-controller="account" asp-action="Follow" asp-route-username="@Model.UserName">follow</a>

            }

            <hr />
            <br />

            @foreach (var post in Model.Posts)
            {
                <div class=" ">

                    <div class="card mb-3" style="height:150px;">
                        <div class="row no-gutters">

                            <div class="col">
                                <div class="card-body">
                                    <small class=" card-text text-muted">
                                        @post.CreatedAt
                                    </small>
                                    <h5 class="card-title">
                                        <a asp-controller="home" asp-action="post" asp-route-id="@post.Id">
                                            @post.Title
                                        </a>
                                    </h5>

                                </div>
                            </div>

                            @if (!string.IsNullOrEmpty(post.Image))
                            {
                                <div class="col-4 " style="height: 150px;">
                                    <img src="@ViewData["Path_Base"]/images/@post.Image" class="card-img " style="height: 146px;">
                                </div>
                            }


                        </div>
                    </div>
                </div>
            }

        </div>



    </div>
</div>

    
}