@model Post

@{ 
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["keywords"] = Model.Tags;
}


<div class="row justify-content-center">
    <div class="col col-md-9 w-100">


        <h1 class="display-4">@Model.Title</h1>

        <p class="text-muted">
            category: 
            <a asp-controller="home" asp-action="index" asp-route-category="@Model.Category.Name">
                @Model.Category.Name
            </a>
        </p>

        <p class="text-muted">@Model.CreatedAt</p>
        <br />
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@ViewData["Path_Base"]/images/@Model.Image" class="w-100" />
        }
        <br />
        <br />
        <p class="h5">
            @Html.Raw(Model.Body)
        </p>

    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div id="main-comment-form" class="col col-md-9 ">
        @{
            await Html.RenderPartialAsync("_CommentForm", new CommentViewModel { PostId = Model.Id });
        }
    </div>

    <div class="col col-md-9 ">
        @foreach (var mainComment in Model.MainComments)
        {
            <hr class="w-50" />
            <small class="text-muted">@mainComment.CreatedAt</small>
            <p>@mainComment.message</p>

            <div class="ml-5">
                @foreach (var subComment in mainComment.SubComments)
                {
                <small class="text-muted">@subComment.CreatedAt</small>
                <p>@subComment.message</p>
                }
            </div>

            await Html.RenderPartialAsync("_CommentForm", new CommentViewModel { PostId = Model.Id, MainCommentId = mainComment.Id });
        }
    </div>
</div>